#header ul {
	list-style-type: none;
	margin: auto;
	padding: 5px;
	overflow: hidden;
	background-color: #333;
}

#header li {
	display: inline;
	color: white;
	font-size: 25px;
	text-align: center;
	padding: 14px 16px;
}


#navigation_bar ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 5px;
}

#navigation_bar li {
	display: inline;
	margin: 15px;
}

#stats {
	background-color: lightgreen;
	width: 75%;
	height: 1000px;
	border: 5px solid green;
	padding: 30px;
	margin: 25px auto;
}

#regular_box_score {
	background-color: lightpink;
	width: 50%;
	height: 300px;
	border: 5px solid brown;
	padding: 10px;
	margin: 25px auto;
}

h1 {
	font-family: arial;
}

button {
	width: 100px;
	height: 70px;
}