#header ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 5px;
}

#header li {
	display: inline;
}
#title {
	font-size: 35px;
	margin-right: 500px;
}

#navigation_bar ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 5px;
}

#navigation_bar li {
	display: inline;
	margin: 10px;
}

#stats {
	background-color: lightgreen;
	width: 800px;
	height: 1000px;
	border: 15px solid green;
	padding: 30px;
	margin: 25px auto;
}

#regular_box_score {
	background-color: lightpink;
	width: 500px;
	height: 300px;
	border: 15px solid blue;
	padding: 10px;
	margin: 25px auto;
}