#header ul {
	list-style-type: none;
	margin: auto;
	padding: 5px;
	overflow: hidden;
	background-color: #333;
}

.game {
	background-color: white;
	width: 100px;
	height: 150px;
	border: 2px solid #4CAF50; /* Green */
	font-size: 14px;
	vertical-align: top;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.game:hover {
	background-color: #4CAF50; /* Green */
    color: white;
}

.table-hover {
	font-size: small;
}

input[type=text] {
    width: 8%;
	padding: 10px 15px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #ffd700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
	border-bottom: 3px solid #caad00;
}

#header li a {
	display: inline;
	color: white;
	font-size: 25px;
	text-align: center;
	padding: 14px 16px;
}

#header li a.hover {
    background-color: #c55140;
}


#navigation_bar ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 5px;
}

#navigation_bar li {
	display: inline;
	margin: 15px;
}

h1 {
	font-family: arial;
}

button {
	width: 100px;
	height: 70px;
}