{% load static %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Javascript -->
<script src="{% static 'NBAStats/main.js' %}" type="text/javascript"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'NBAStats/styles.css' %}" />

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visualizing NBA Box Scores</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <div class="container">
    <div id="header">
    	<ul>
    		<li style="float:left">Visualizing NBA Box Scores</li>
        <li style="float:right">Calendar</li>
    		<li style="float:right">Date</li>
    	</ul>
    </div>

    <div id="navigation_bar">
    	<ul>
    		<li><button type="button" id="game" onclick="populateStatistics()" value="first game">Game 1</button></li>
    		<li><button type="button">Game 2</button></li>
    		<li><button type="button">Game 3</button></li>
    		<li><button type="button">Game 4</button></li>
    		<li><button type="button">Game 5</button></li>
    	</ul>
    </div>

<p>Date: <input type="text" id="datepicker"></p>

    <div id="stats">
    	Visualization of data comes here.
    </div>

    <h1>Regular Box Score</h1>
    <div id="regular_box_score">
    	Regular Box Score comes here.
    </div>
  </div>

  <script>
  function populateStatistics(){
    var stats = document.getElementById("game").innerHTML;
    var gameDiv = document.createElement("div");

    var text = gameDiv.innerHTML = "Visualization of "+stats+" goes here";
    document.getElementById("stats").innerHTML = text;
  }
  </script>
</body>
</html>