<!doctype html>

<html lang="en">
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visualizing NBA Box Scores</title>

  {% load static %}
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- Javascript -->
  <script src="{% static 'NBAStats/Chart.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'NBAStats/main.js' %}" type="text/javascript"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'NBAStats/styles.css' %}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- JQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div id="header">
			<ul>
                <li onclick="window.location.reload()" style="float:left;"><a>Visualizing NBA Box Scores</a></li>
				<li style="float:right"><a>About</a></li>
				<li style="float:right"><a href="https://github.com/Kevin-Tang/Visualizing-NBA-Box-Scores" target="_blank">GitHub</a></li>
			</ul>
		</div>
		<div id="navigation_bar">
			<ul id="game_buttons"></ul>
		</div>
		<!-- https://jqueryui.com/datepicker/ -->
		<form method="POST" id="date-form">
			{% csrf_token %}
			<p>Date: <input id="datepicker" type="text"></p>
		</form>

		<div class=".container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 id="teamNames" style="text-align: center;"></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 id="bGraphName" style="text-align: center"></h3>
					<div id="BarGraphContainer">
                        <canvas id="BarGraph"></canvas>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2 id="team1"></h2>
					<div id="myPieChart1Container">
                        <h3 id="team1PieChart"></h3>
                        <canvas id="myPieChart1"></canvas>
                    </div>
				</div>
				<div class="col-md-6">
					<h2 id="team2"></h2>
                    <div id="myPieChart2Container">
                        <h3 id="team2PieChart"></h3>
                        <canvas id="myPieChart2"></canvas>
                    </div>
				</div>
			</div>
            <div class="row">
                <div class="col-md-12">
                    <h2 id="playbyplay" style="text-align: center"></h2>
                    <div id="LineChartContainer">
                        <canvas id="myLineChart"></canvas>
                    </div>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-12">
					<h3 id="advTeamName" style="text-align: center"></h3>
					<div id="advContainer">
                        <canvas id="advTeamStats"></canvas>
                    </div>
				</div>
            </div>
            -->
            <div class="row">
				<div class="col-md-12">
					<h3 id="advTeamName" style="text-align: center"></h3>
					<div id="advContainer">
                        <canvas id="advTeamStats"></canvas>
                    </div>
				</div>
			</div>
		</div>

        <div id="boxscoreTitle" style="display: none">
            <h1 >Regular Box Score</h1>
        </div>
        <div class="container" id="regBoxscore"></div>
        <div id="aboutProject" style="display: none">
            <h1>Our Project: Visualizing NBA Box Scores</h1>
            <p>Our website aims to change how fans of the National Basketball Association (NBA) view box scores. While our website continues to function as a statistical account of professional basketball games, we want to further expand on the mundane box table format to include greater visualization of a basketball game.<br>
                For a barebone description of our project, our website would include a basic header and navigation bar. Under the navigation bar would include a strategic way of displaying NBA games for the current date, along with the option to choose a date to visit previous basketball games and their scores. Viewers would then be able to click on any game and the game’s statistics and box score would appear in the center of the page in various formats.<br>
                We welcome the analytics of advanced statistics and hope to create a visually appealing website. While we may not be reinventing the wheel, we want to take up a project that both encompasses data gathering and visualization. In particular, we would like to explore how we could utilize javascript to create an aesthetically pleasing and fluid user experience. As neither of us have programmed a website to completion, we find comfort in pursuing an idea that we both are passionate about and are looking to gain insight into new ways of building websites from the bottom up.</p>
        </div>
	</div>
</body>
</html>